.Left{
    color: black;
}

.Left h1 {
    text-align: center;

    border-radius: 5px 5px 0 0;
    background-color: #fff;
    padding: 10px;
}

.Left textarea{
    font-size: large;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controls > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls > div label{
    margin-right: 5px;
    font-weight: bolder;
    font-size: large;
}

.controls > div input{
    padding: 5px;
    width: 50px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    text-indent: 5px;
    text-align: center;
}

.controls button{
    font-size: medium;
    padding: 10px;
    background-color: rgb(0, 123, 224);
    color: #FFF;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.controls button:hover{
    background-color: #FFF;
    color: rgb(0, 123, 224);
    cursor: pointer;
}

.result h2 {
    color: #fff;
    margin: 10px 0;
}

.result{
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.771);
    color: rgb(0, 123, 224);
    height: auto;
    font-size: large;
}